.card{
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
  background-color: var(--sidebar-border);
  margin-bottom: 1.5rem;
  transition: .2s;
  &:hover{
    background-color: #ebeff5;
    cursor: pointer;
    transition: .2s;
  }
}

.card-content{
  display: flex;
  flex-direction: column;
}

span.nome{
  font-weight: 700;
}

span.registro{
  font-weight: 300;
}
